@use './variables' as *;

// Base
@import './base/base';

// Components
@import './components/nav';
@import './components/buttons';
@import './components/breadcrumbs';
@import './components/cards';
@import './components/cta-strip';
@import './components/footer';
@import './components/grid-previews';
@import './components/hero';
@import './components/lightbox';
@import './components/not-found';
@import './components/slider';
@import './components/spinner';
@import './components/tags';

// Pages
@import './pages/home';
@import './pages/project';
@import './pages/services';
@import './pages/contact';

//Media queries 

@import './media-queries';
