@use './variables' as *;

// Base
@import './base/mixins';
@import './base/base';
@import './base/common';

// Components

@import './components/nav';
@import './components/logo';
@import './components/buttons';
@import './components/breadcrumbs';
@import './components/cards';
@import './components/cta-strip';
@import './components/footer';
@import './components/grid-previews';
@import './components/hero';
@import './components/lightbox';
@import './components/not-found';
@import './components/slider';
@import './components/spinner';
@import './components/tags';
@import './components/filters';
@import './components/stats-strip';
@import './components/about';
@import './components/skills';
@import './components/testimonials';

// Pages
@import './pages/home';
@import './pages/project';
@import './pages/projects';
@import './pages/services';
@import './pages/contact';

//Media queries 

@import './media-queries';
