@use './variables' as *;


@media all and (min-width:1920px) {
    .container {
            max-width: 1400px;
    }
}
@media all and (max-width:1200px) {
    .container {
        max-width: calc(100vw - 100px);
    }
}

@media all and (max-width:991px) {
    .card-container {
        width: 45%;
        margin: 15px;
    }
}

@media all and (max-width:768px) {
    .card-container {
        width: 100%;
        margin: 15px 0;
        max-width:unset;
        
    }

    .filter-search {
        flex-direction:column;
        width:100%;
    }


    .grid-previews .card-container {
        margin: 0;
    }


    .container {
        max-width: calc(100vw - 50px);
        padding: 0.5rem;
    }

    .cta-strip {
        padding: 1.5rem;
    }

    .cta-strip .h2 {
       
    }



    .section-header {
        flex-direction: column;
    }

    .section-title {
        margin-bottom: 0;
    }



    .card__media {
        height: 150px;
    }

    .hero--home,
    .hero--project,
    .hero--contact {
        background-attachment: scroll;
        min-height: 45vh;
    }



    .hero--home .hero__title,
    .hero--project .hero__title,
    .hero--contact .hero__title,
    h2 {
        font-size: 1.8rem;
        
    }

    //homepage 
    .section-title {
        text-align:center;
    }


    //project page
    .project-content h2,
    .previews-content h2,
    .live-url-content h2 {
        text-align:left;
    }

    .hero--home .hero__subtitle,
    .hero--project .hero__subtitle,
    .hero--contact .hero__subtitle {
        font-size: 1.2rem;
    }

    .hero__actions {
        flex-direction:column;
    }

    
    .gradient-text {
    font-size: 1.5rem;
    }
}

@media all and (max-width:480px) {

    .btn {
        font-size:18px;
    }

    .hero__ribbon {
        width: 220px;
        padding: 0.55rem 0;
        font-size: 0.85rem;
        right: unset;
        left: -70px;
        bottom: 18px;
        top: unset;
    }

    .nav {
        left: 0;
        right: 0;
        margin: auto;
        transform: none;
        width: fit-content;

        max-width: unset;
    }

    .nav__list {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        /* Firefox */
    }

    .nav__list::-webkit-scrollbar {
        /* WebKit */
        display: none;
    }

    .nav__link {

        font-size: 13px;

    }

      .gradient-text {
    font-size: 1.4rem;
    }
}

@media all and (max-width:380px) {
    .nav__link {
        padding: 10px 10px;
        font-size: 12px;
    }

    .hero--home .hero__header,
    .hero--project .hero__header,
    .hero--contact .hero__header {
        max-width: 80%;

    }

    .cta-strip .h2 {
        font-size: 1rem;
    }
}