@use './variables' as *;



@media all and (max-width:1200px) {
    .container {
        max-width:calc(100vw - 100px);
    }
}

@media all and (max-width:768px) {
    .container {
        max-width:calc(100vw - 50px);
        padding: 0.5rem;
    }


   

    .slider__arrow {
        display:none;
    }

    .card__media {
        height:150px;
    }

    .hero--home, .hero--project, .hero--contact {
        background-attachment:scroll;
        min-height:45vh;
    }

    .hero--home .hero__header, .hero--project .hero__header, .hero--contact .hero__header {
        max-width:60%;
    }
    .hero--home .hero__title, .hero--project .hero__title, .hero--contact .hero__title, h2 {
        font-size:1.8rem;
    }

    .hero--home .hero__subtitle, .hero--project .hero__subtitle, .hero--contact .hero__subtitle {
        font-size:1.5rem;
    }
}

@media all and (max-width:480px){
    .card {
            margin: 15px 0;
    }
}