$bgColor:#0A0A0B;
$textColor:#fff;
$primary: #6dcdff;
$danger: #EC2424;
$accentColor: #ffb546;
$cardRadius: 18.5px;
$cardBorderColor:rgba(255, 255, 255, 0.12);
$pillColor:#0E1A2B;


$lightCardBackground:#fffefe;