html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    color: #E7E3E3;
    background: #0A0A0B;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    color: $colouredTitle;
}

.link {
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.link .icon {
    margin-right: 5px;
}

.link:hover {
    opacity: .8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}