
body.light-mode {
    background: #fefefe;

    & .hero--home,
    & .hero--project,
    & .hero--contact {
        background: url("/images/hero-light.jpg");
        background-size: cover;
    }

    & .hero--services {
         background: url("/images/hero-services-light.jpg");
        background-size: cover;
    }
     & .hero--services {
        background: url("/images/hero-services-light.jpg");
        background-size: cover;
    } 
    & .hero--project_all {
        background: url("/images/hero-project-light.jpg");
        background-size: cover;
    }

    & .hero--home .hero__header,
    & .hero--project .hero__header,
    & .hero--contact .hero__header {
        background: #e4e4e4;
    }

    & .container.about,
    & .container.projects,
    & .container.services,
    & .container.stats-strip,
    & .container.contact,
    & .container.skills,
    & .container.testimonials,
    & .container.project-content,
    & .container.previews-content,
    & .container.live-url-content {
        backdrop-filter: blur(10px);
        margin-top: 3.5rem;
        padding: 20px;
        background: linear-gradient(to right, #f2f0f0, #ececec);
        box-shadow: none;
        border: 0;
        border-radius: 18.5px;
        border: 2px solid #ededed;
    }

    & h2,
    & .stats-strip__value,
    & .footer-glass__link,
    & .hero--home .hero__title,
    & .hero--project .hero__title,
    & .hero--contact .hero__title,
    & .project-content,
    & .contact__value,
    & .testimonials__name,
    & .btn--ghost {
        color: #0e1a2b;
    }

    & .link .icon {
        fill:#0e1a2b;
    }

    & .stats-strip__label,
    & .testimonials__role,
    & .footer-glass__copy,
    & .filter-search,
    & .filter-search__label,
    & .projects .section-subtitle,
    & .contact__label,
    & .footer-glass__theme-label {
        color: #4f4b4b;
    }

    & .gradient-text {
        background-image: linear-gradient(120deg, #eca91c, #facc6b, #ff9f3c, #ffd85b);
    }

    & .card-container,
    & .testimonials__card,
   
    & .breadcrumbs,
    & .meta-card,
    & .filters-container.filters-container--open {
        background: $lightCardBackground;
        box-shadow: none;
        border: 0;
        color: #0e1a2b;
        border: 2px solid #ededed;
    }

     & .card__body {
        background: $lightCardBackground;
        border-top:1px solid #ededed;
     }

    & .btn--ghost {
        background: #d9d9d9;
    }

    & .contact__icon-box {
        box-shadow: none;
    }

    & .footer-glass {
            border-top: 1px solid rgb(212 212 212 / 78%);
    }


    & .pill {
        background: #d9d9d9;
        color: #0f0f0f;
    }

    & .nav__link:hover {
        background: linear-gradient(to right, #f2f0f0, #ececec);
    }

    & .nav__link.is-active{
            box-shadow: none;
    }

    & .nav__link.is-active:hover {
        background:#0a0a0b;
    }

}