.breadcrumbs {
    border-bottom: 1px solid #2d2d2d;
   
  
    background: $bgColor;
    padding: 4px 0;

    &__list {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0;
        font-size: .875rem;
    }

    &__item::after {
        content: '/';
        margin-left: .5rem;
    }

    &__item:last-child::after {
        content: '';
    }

    &__link {
        text-decoration: underline;
    }
}