.cta-strip {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.25rem;
   
    border-radius: $cardRadius;
     background: linear-gradient(135deg, #f6b73c 0%, #ffb347 40%, #ff9f1c 75%, #f77f00 100%);
    color: #041016;
    flex-wrap: wrap;
    margin:50px auto;
}


.cta-strip .h2 {
    margin: 0 0 .25rem;
    font-size: 1.8em;
    

}