/* styles/components/_stats-strip.scss */

.stats-strip {
   

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2.5rem;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon-wrap {
    width: 45px;
    height: 45px;
    border-radius: 12px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
       background: #0e1a2b;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
  }

  .icon {
    width: 32px;
    height: 32px;
   
  }

  &__value {
    font-size: 1.9rem;
    font-weight: 800;
    color: #ffffff;
  }

  &__label {
    margin-top: 0.35rem;
    font-size: 0.9rem;
    color: rgba(231, 227, 227, 0.75);
  }
}

/* simple responsiveness */
@media (max-width: 900px) {
  .stats-strip__inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 2rem;
  }

  .stats-strip__icon-wrap {
    width: 40px;
    height: 40px;
    & svg {
        height:20px;
        width:20px;
    }
  }
  .stats-strip__value {
    font-size:1.3rem;
  }
}

// @media (max-width: 600px) {
//   .stats-strip__inner {
//     grid-template-columns: 1fr;
//   }
// }
