.tags {
    display: flex;
    flex-wrap:wrap;
}

.tags__tag {
    background: #555252;
    padding: .25rem .5rem;
    font-size: .75rem;
    border-radius: .25rem;
    margin: 5px;
}

/* Pills used on project page */
.pill-list {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap: .6rem .8rem;
    margin-top: .25rem;
}

.pill {
    display: inline-flex;
    align-items: center;
    padding: .45rem .75rem;
    border-radius: 50px;
    background: #0E1A2B;
    color: #E7E3E3;
    font-weight: 600;
    font-size: .85rem;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .06);
    transition:.2s all;
}


.pill-list.smaller .pill {
    font-size: .65rem;
    padding: .3rem .6rem;
}

.pill--button {
  appearance: none;
  border: 0;
  cursor: pointer;
}

.pill--active {
  background: $colouredTitle;                 /* darker bg when active */
  box-shadow: inset 0 0 0 2px rgba(255,255,255,.12);
  color:#000;
}