/* Contact block */
.contact {
  padding-block: 2.5rem;
  max-width: 720px;
  margin: 0 auto;
}

.contact__card {
 
}

.contact__title {
  margin: 0 0 .5rem;
}

.contact__text {
  margin: 0 0 1rem;
  opacity: .9;
}

.contact__methods {
  display: grid;
  gap: .75rem;
}


.contact__link .icon {
  margin-right: 0;
}