/* Contact block */
.contact {
  padding-block: 2.5rem;
}

.contact__card {
  max-width: 720px;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
  border-radius: 18px;
  background: rgba(255, 255, 255, .04);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .06) inset, 0 0 0 1px rgba(255, 255, 255, .06);
}

.contact__title {
  margin: 0 0 .5rem;
}

.contact__text {
  margin: 0 0 1rem;
  opacity: .9;
}

.contact__methods {
  display: grid;
  gap: .75rem;
}


.contact__link .icon {
  margin-right: 0;
}